{{! Microsoft-Konto Sicherheitscode }}

<html lang='de'>
  <head>
    <meta charset='UTF-8' />
    <title>Microsoft-Konto Sicherheitscode</title>
  </head>
  <body>
    <h1>Sicherheitscode</h1>
    <p>Bitte verwenden Sie den folgenden Sicherheitscode für das Microsoft-Konto
      jo**g@gmail.com.</p>
    <p>Sicherheitscode: <strong>040928</strong></p>
    <p>Wenn Sie das Microsoft-Konto jo**g@gmail.com nicht kennen, können Sie
      <a href='#'>hier klicken</a>, um Ihre E-Mail-Adresse aus diesem Konto zu
      entfernen.</p>
    <p>Mit freundlichen Grüßen</p>
    <p>Ihr Microsoft-Konto-Team</p>
  </body>
</html>