<div id=':16o' class='a3s aiL'>
  <div style='background-color:rgb(255,255,255);height:100%'>
    <table width='100%' cellspacing='0' cellpadding='0'>
      <tbody>
        <tr>
          <td
            align='center'
            style='padding-top:48px;border-collapse:separate;padding-bottom:48px'
          >
            <table
              width='558'
              cellspacing='0'
              cellpadding='0'
              style='border-collapse:separate;width:558px'
            >
              <tbody>
                <tr>
                  <td
                    style='background-color:rgb(255,255,255);border-radius:0px;border-color:rgb(204,204,204);border-style:solid;border-width:0px;padding:60px'
                  >
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td align='center' style='padding:10px 6px'>
                            <table width='100%' cellspacing='0' cellpadding='0'>
                              <tbody>
                                <tr>
                                  <td align='center'>
                                    <div>
                                      <img
                                        width='350'
                                        src='https://ci3.googleusercontent.com/meips/ADKq_Na6VlvdVb9eFHE_F7Zm0CN87RZQfaO3D5kVUCNRzWsiO3d7j-hIWrjdKzVzH1jgeAaOYRbNgzyhfu0VoXO7GVqTn_aujrADfi-klmC4viuCtMKlftaxzrVlKBhXEWx8sW9gSwKMHgt1Sw-LpHQlytL5NTeZsn6N9Zxj=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/TdtfDM/images/3ec18efd-d412-4226-9e38-f1d95fc4eb69.png'
                                        alt=''
                                        style='width:350px'
                                        class='CToWUd a6T'
                                        data-bit='iit'
                                        tabindex='0'
                                      />
                                      <div
                                        class='a6S'
                                        dir='ltr'
                                        style='opacity: 0.01; left: 552px; top: 187px;'
                                      >
                                        <span
                                          data-is-tooltip-wrapper='true'
                                          class='a5q'
                                          jsaction='JIbuQc:.CLIENT'
                                        >
                                          <button
                                            class='VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE'
                                            jscontroller='PIVayb'
                                            jsaction='click:h5M12e; clickmod:h5M12e;pointerdown:FEiYhc;pointerup:mF5Elf;pointerenter:EX0mI;pointerleave:vpvbp;pointercancel:xyn4sd;contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;'
                                            data-idom-class='CgzRE'
                                            jsname='hRZeKc'
                                            aria-label='Anhang &quot;&quot; herunterladen'
                                            data-tooltip-enabled='true'
                                            data-tooltip-id='tt-c65'
                                            data-tooltip-classes='AZPksf'
                                            id=''
                                            jslog='91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTgwNTk0NTYyMTE3MjQyNTkyOSJd; 43:WyJpbWFnZS9qcGVnIl0.'
                                          >
                                            <span
                                              class='OiePBf-zPjgPe VYBDae-JX-UHGRz'
                                            ></span>
                                            <span
                                              class='bHC-Q'
                                              data-unbounded='false'
                                              jscontroller='LBaJxb'
                                              jsname='m9ZlFb'
                                              soy-skip=''
                                              ssk='6:RWVI5c'
                                            ></span>
                                            <span
                                              class='VYBDae-JX-ank-Rtc0Jf'
                                              jsname='S5tZuc'
                                              aria-hidden='true'
                                            >
                                              <span
                                                class='bzc-ank'
                                                aria-hidden='true'
                                              >
                                                <svg
                                                  viewBox='0 -960 960 960'
                                                  height='20'
                                                  width='20'
                                                  focusable='false'
                                                  class='aoH'
                                                >
                                                  <path
                                                    d='M480-336L288-528l51-51L444-474V-816h72v342L621-579l51,51L480-336ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72H696v-72h72v72q0,29.7-21.16,50.85T695.96-192H263.72Z'
                                                  ></path>
                                                </svg>
                                              </span>
                                            </span>
                                            <div class='VYBDae-JX-ano'></div>
                                          </button>
                                          <div
                                            class='ne2Ple-oshW8e-J9'
                                            id='tt-c65'
                                            role='tooltip'
                                            aria-hidden='true'
                                          >Herunterladen</div>
                                        </span>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td align='center' style='padding:0px'>
                            <div
                              style='font-family:Helvetica,Arial;color:rgb(34,34,34)'
                            ></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td
                            align='center'
                            style='background-color:rgba(255,255,255,0);padding:0px 0px 9px'
                          >
                            <div
                              style='font-family:Helvetica,Arial;color:rgb(34,34,34)'
                            >
                              <h3
                                style='text-align:center;font-family:Helvetica,Arial;color:#222;font-size:16px'
                              >Bitte bestätigen Sie, dass Sie sich für Erhalt
                                von Marketingkommunikation von Turtle Beach
                                angemeldet haben, indem Sie auf den folgenden
                                Link klicken.</h3>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td
                            align='center'
                            style='background-color:rgba(255,255,255,0);padding:10px 6px'
                          >
                            <table
                              cellspacing='0'
                              cellpadding='0'
                              style='border-collapse:separate'
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align='center'
                                    style='background-color:rgb(117,56,255);border-color:rgb(34,34,34);border-style:solid;border-width:0px;border-radius:2px;height:50px'
                                  >
                                    <a
                                      href='https://manage.kmail-lists.com/subscriptions/subscribed?opt=31022e15adaadd61941b0b9b367c9365'
                                      style='display:block;font-family:Helvetica,Arial;color:rgb(255,255,255);font-weight:400;font-size:16px;padding:15px;line-height:normal;text-decoration:none'
                                      target='_blank'
                                      data-saferedirecturl='https://www.google.com/url?q=https://manage.kmail-lists.com/subscriptions/subscribed?opt%3D31022e15adaadd61941b0b9b367c9365&amp;source=gmail&amp;ust=1722370359172000&amp;usg=AOvVaw3fFJ19wA36PNw1KynTyrdd'
                                    >Ja, ich möchte mich anmelden.</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td
                            align='center'
                            style='background-color:rgba(255,255,255,0);padding:10px 6px'
                          >
                            <div
                              style='font-family:Helvetica,Arial;color:rgb(34,34,34)'
                            >
                              <div
                                style='font-family:Helvetica,Arial;font-size:12px;line-height:100%;color:#222;text-align:left'
                              >
                                <p
                                  style='margin:0px;padding-bottom:1em;text-align:center'
                                >Wenn Sie sich nicht anmelden möchten, können
                                  diese Nachricht ignorieren oder löschen.</p>
                                <p
                                  style='margin:0px;padding-bottom:1em;text-align:center'
                                ><br />Wenn Sie Fragen haben, können Sie auf
                                  diese E-Mail antworten oder Turtle Beach Talk
                                  unter
                                  <a
                                    href='mailto:eucustomerservice@turtlebeach.com'
                                    target='_blank'
                                  >eucustomerservice@turtlebeach.<wbr />com</a>
                                  kontaktieren.</p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      style='font-size:1px;color:rgb(255,255,255);line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden'
    > &#8204;</div>
  </div>
  <div class='iX'>...<br /><br />[Nachricht gekürzt]&nbsp;&nbsp;<a
      href='https://mail.google.com/mail/u/1?ui=2&amp;ik=12b9c6d1b6&amp;view=lg&amp;permmsgid=msg-f:1805945621172425929'
      target='_blank'
      jslog='32272; 1:WyIjdGhyZWFkLWY6MTgwNTk0NTYyMTE3MjQyNTkyOSJd; 4:WyIjbXNnLWY6MTgwNTk0NTYyMTE3MjQyNTkyOSJd; 57:W251bGwsInRocmVhZC1mOjE4MDU5NDU2MjExNzI0MjU5MjkiLDEsMV0.'
    >Vollständige Nachricht ansehen</a></div>
</div>