<div>
  <div style='background-color:rgb(255,255,255);height:100%'>
    <table width='100%' cellspacing='0' cellpadding='0'>
      <tbody>
        <tr>
          <td
            align='center'
            style='padding-top:48px;border-collapse:separate;padding-bottom:48px'
          >
            <table
              width='558'
              cellspacing='0'
              cellpadding='0'
              style='border-collapse:separate;width:558px'
            >
              <tbody>
                <tr>
                  <td
                    style='background-color:rgb(255,255,255);border-radius:0px;border-color:rgb(204,204,204);border-style:solid;border-width:0px;padding:60px'
                  >
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td align='center' style='padding:10px 6px'>
                            <table width='100%' cellspacing='0' cellpadding='0'>
                              <tbody>
                                <tr>
                                  <td align='center'>
                                    <div>
                                      <img
                                        width='200'
                                        src='https://img001.prntscr.com/file/img001/9Ik_DuHmSh6XEjQczoMTYw.png'
                                        alt='Logo'
                                        style='width:200px'
                                        tabindex='0'
                                      />
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td align='center' style='padding:0px'>
                            <div
                              style='font-family:Helvetica,Arial;color:rgb(34,34,34)'
                            ></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td
                            align='center'
                            style='background-color:rgba(255,255,255,0);padding:0px 0px 9px'
                          >
                            <div
                              style='font-family:Helvetica,Arial;color:rgb(34,34,34)'
                            >
                              <h3
                                style='text-align:center;font-family:Helvetica,Arial;color:#222;font-size:16px'
                              >
                                Sie haben sich erfolgreich für unseren
                                Newsletter angemeldet. Vielen Dank!
                              </h3>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td
                            align='center'
                            style='background-color:rgba(255,255,255,0);padding:10px 6px'
                          >
                            <table
                              cellspacing='0'
                              cellpadding='0'
                              style='border-collapse:separate'
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align='center'
                                    style='background-color:rgb(87,197,233);border-color:rgb(34,34,34);border-style:solid;border-width:0px;border-radius:2px;height:50px'
                                  >
                                    <a
                                      href='http://localhost:3000/'
                                      style='display:block;font-family:Helvetica,Arial;color:rgb(255,255,255);font-weight:400;font-size:16px;padding:15px;line-height:normal;text-decoration:none'
                                      target='_blank'
                                    >Zur Homepage</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      width='100%'
                      style='border-collapse:collapse;width:100%!important'
                    >
                      <tbody>
                        <tr>
                          <td
                            align='center'
                            style='background-color:rgba(255,255,255,0);padding:10px 6px'
                          >
                            <div
                              style='font-family:Helvetica,Arial;color:rgb(34,34,34)'
                            >
                              <div
                                style='font-family:Helvetica,Arial;font-size:12px;line-height:100%;color:#222;text-align:left'
                              >
                                <p
                                  style='margin:0px;padding-bottom:1em;text-align:center'
                                >
                                  Ich möchte keine weiteren E-Mails von
                                  Elbe-Technik erhalten.
                                  <a href='' target='_blank'>Abmelden</a>
                                </p>
                                <p
                                  style='margin:0px;padding-bottom:1em;text-align:center'
                                ><br />Bei Fragen oder Anregungen melden Sie
                                  sich unter der E-Mail
                                  <a
                                    href='mailto:support@elbe.at'
                                    target='_blank'
                                  >support@elbe.<wbr />at</a>
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>