<html lang='de'>
  <head>
    <meta charset='UTF-8' />
    <style>
      body { font-family: Arial, sans-serif; } h1 { color: #2672ec; font-size:
      41px; } p { font-size: 14px; color: #000000; } a { color: #2b579a;
      text-decoration: none; } a:hover { text-decoration: underline; } .code {
      font-weight: bold; font-size: 16px; }
    </style>
  </head>
  <body>
    <p style='color: #707070; font-size: 17px;'>Elbe-Technik Konto</p>
    <h1>Bestätigungscode</h1>
    <p>Bitte verwenden Sie den folgenden Bestätigungscode für das Elbe-Technik
      Konto
      <a>{{email}}</a></p>
    <p>Bestätigungscode: <strong class='code'>{{code}}</strong></p>
    <p>Mit freundlichen Grüßen</p>
    <p>Ihr Elbe-Technik-Konto-Team</p>
  </body>
</html>