@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  --white: #fafafa;
  --blue: #1101ff57;

  --background: var(--blue);
  --accent: var(--white);
}

::-webkit-scrollbar {
  height: 5px;
  width: 0px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.grayscale:hover {
  filter: grayscale(0%);
}

.bg-blur {
  backdrop-filter: blur(8px);
}

.link-underline {
  padding-bottom: 5px;
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#ffffff, #ffffff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
